In [1]:
import pandas as pd
import numpy as np
import camelot.io as camelot
import sys

 # adding folders up to system path to access functions
sys.path.insert(0, '../../../')
from driveFolderHandler import downloadTempDriveFolder, deleteTempDriveFolder

In [2]:
path = "../temp-docs"
downloadTempDriveFolder(folderID='1advCtk-TSD1EhgXCjkXUMaykM-fLHbgm',
                        path = path)

Retrieving folder list

Processing file 1vgdqRddwLQYnhP9_D4lmoo8O65Nogym8 NE_IUPandPPL_2023.pdf
Building directory structure completed

Retrieving folder list completed
Building directory structure
Downloading...
From: https://drive.google.com/uc?id=1vgdqRddwLQYnhP9_D4lmoo8O65Nogym8
To: /Users/pcork/epic/dw-dashboard/year1/NE/temp-docs/NE_IUPandPPL_2023.pdf
100%|██████████| 4.15M/4.15M [00:00<00:00, 20.5MB/s]

Files stored in ../temp-docs

Download completed

## Nebraska
Given that each of the four tables are brief and slightly unique, they are simply exported and then manually corrected in a spreadsheet GUI. 
Most of the formatting corrections are breaking up rows that were merged together.

In [3]:
ne_pdfs = camelot.read_pdf(path+"/NE_IUPandPPL_2023.pdf",
                               pages='46-49', flavor='stream', row_tol=15)
len(ne_pdfs)

Parsing...

5

In [ ]:
# manually switch the requested page and save to a different file
ne = ne_pdfs[4].df
ne.to_csv("ne_4.csv", index=False)

### Appendix B2

In [19]:
ne_pdfs = camelot.read_pdf(path+"/NE_IUPandPPL_2023.pdf",
                               pages='93-108', flavor='stream', row_tol=12)
len(ne_pdfs)

16

In [38]:
ne_0 = ne_pdfs[0].df
ne_0 = ne_0.iloc[2:28,].reset_index(drop=True).copy()

ne_0.iloc[0,4] = "Interconnect to David City-Bruno pipeline or new well to replace deteriorated well; Install water meters; Get GPS mapping of water system valves and lines"
ne_0.iloc[1,4] = "New/Replace mains"
ne_0.iloc[25,1] = "Beatrice West Public Water Project"

ne_0 = ne_0.replace("\n", " ", regex=True)

ne_0

,0,1,2,3,4,5
0,100,Abie,NE3102305,65,Interconnect to David City-Bruno pipeline or n...,"$1,230,000"
1,15,Adams,NE3106712,604,New/Replace mains,"$480,000"
2,60,Ainsworth,NE3101702,"1,616",Replace/Loop mains,"$1,500,000"
3,60,Albion,NE3101102,"1,699",Rehab well; Replace/Extend mains,"$1,100,000"
4,60,Alda,NE3107909,647,Remove asbestos pipe from distribution system;...,"$700,000"
5,60,Alexandria,NE3116910,148,Water main improvements,"$100,000"
6,160,Allen,NE3105101,355,Administrative Order; 100% MCL in Nitrates,"$3,510,000"
7,135,Alma,NE3108307,"1,043",80% MCL in Nitrates; Replace main; Repair/repl...,"$1,150,000"
8,60,Amherst,NE3120041,201,Replace/Extend mains; Replace hydrants; Contro...,"$180,000"
9,30,Ansley,NE3104104,459,"Replace mains, hydrants, PRV, and meters","$490,000"
10,60,Arapahoe,NE3106506,"1,002","Replace/Loop mains; New/Replace gate valves, h...","$350,000"
11,15,Arcadia,NE3117503,283,New meters; Replace hydrants and mains; Rehab ...,"$785,000"
12,15,Arnold,NE3104102,592,Wells; Mains; Install/Replace meters,"$265,400"
13,15,Ashton,NE3116301,198,Replace meters,"$125,000"
14,135,Atkinson,NE3108905,"1,306",80% MCL in Arsenic; Loop mains; Replace hydran...,"$550,000"
15,30,Atlanta,NE3113706,106,Replace mains and meters,"$250,000"
16,155,Auburn,NE3112703,"3,470",80% PHA in Manganese; New wells and mains; Pai...,"$10,630,000"
17,155,Aurora,NE3108101,"4,678",100% MCL in Nitrates; Rehab wells; New mains; ...,"$23,350,000"
18,145,Bancroft,NE3103901,496,Replace well due to Nitrates - SFY 2021,"$600,000"
19,25,Barneston,NE3120604,90,Replace meters; Construct security fence; Pain...,"$201,800"
20,15,Bartley,NE3114502,270,Replace main and hydrants,"$195,000"
21,145,Bassett,NE3114902,538,"80% MCL in Nitrates; Replace well, main, and m...","$755,000"
22,15,Battle Creek,NE3111915,"1,194",Add valves; Loop mains; New building to reallo...,"$800,000"
23,135,Bayard,NE3112302,"1,140",80% MCL in Nitrate and Uranium; Rehab tower; R...,"$580,000"
24,135,Beatrice,NE3106705,"12,261","100% MCL in Nitrates; Replace wells, mains, an...","$17,000,000"
25,15,Beatrice West Public Water Project,NE3120998,126,New meters,"$35,000"

In [39]:
ne_1 = ne_pdfs[1].df
ne_1 = ne_1.iloc[1:,].reset_index(drop=True).copy()

ne_1.iloc[0,4] = "New/Replace mains; Install sampling stations - SFY 2023 Replace wells lost due to spill; Replace tank, mains, and meters - SFY 2022"
ne_1.iloc[1,4] = "100% PHA in Manganese; Install meters; Rehab mains"

ne_1 = ne_1.replace("\n", " ", regex=True)

ne_1

,0,1,2,3,4,5
0,135,Beaver City,NE3106505,537,New/Replace mains; Install sampling stations -...,"$175,000"
1,145,Beaver Crossing,NE3115911,375,100% PHA in Manganese; Install meters; Rehab m...,"$700,000"
2,60,Bee,NE3115910,171,Replace valves and mains; Install standby gene...,"$95,000"
3,135,Beemer,NE3103902,611,80% MCL in Selenium; Rehab controls; Install s...,"$74,765"
4,60,Belden,NE3102707,113,Replace mains and meters,"$100,400"
5,100,Belgrade,NE3112501,103,Replace tank; New meters - SFY 2020,"$570,000"
6,135,Bellwood,NE3102306,407,100% PHA in Manganese; Replace mains; Repaint ...,"$185,000"
7,25,Belvidere,NE3116909,51,Rehab water system; Install water pump,"$115,000"
8,135,Benedict,NE3118703,203,"100% MCL in Nitrates, 80% PHA in Manganese; In...","$90,000"
9,135,Benkelman,NE3105701,821,80% MCL in Arsenic; Extend mains; Replace main...,"$250,000"
10,60,Bennet,NE3110910,"1,082",Install/Loop mains - SFY 2023 Replace/Rehab t...,"$450,000"
11,15,Bertrand,NE3113707,709,Install/Replace mains and meters,"$700,000"
12,30,BIC Joint Water Agency,NE3121227,"1,930",Construct well for capacity; Replace booster s...,"$600,000"
13,60,Bladen,NE3118303,205,New well; Replace main and hydrants,"$550,000"
14,120,Blair,NE3117905,"7,790",New intake building; WTP Expansion; New tower ...,"$38,656,250"
15,135,Bloomfield,NE3110708,986,100% PHA in Manganese; Loop mains; Install val...,"$300,000"
16,30,Bloomington,NE3106106,110,Replace mains; Rehab tank; Upgrade meters,"$300,000"
17,135,Blue Hill,NE3118302,805,100% MCL in Nitrates; Rehab tower; Replace pum...,"$174,100"
18,60,Blue Springs,NE3106704,282,Update PWS; Extend mains,"$150,000"
19,60,Boyd Cnty RWD 1,NE3120306,51,Rehab controls and wellhouse; Replace mains an...,"$50,000"
20,80,Bradshaw,NE3118704,273,New water storage; Rehab wells; Upgrade mains,"$1,225,000"
21,60,Brady,NE3111102,383,New well; Install mains; Replace hydrants,"$1,000,000"
22,165,Brainard,NE3102304,336,"100% PHA in Manganese, 80% MCL in Selenium; Ne...","$3,000,000"
23,15,Bridgeport,NE3112303,"1,454",Replace treatment media and meters,"$165,000"
24,135,Broadwater,NE3112301,95,"100% MCL in Arsenic, 80% MCL in Uranium; Repai...","$60,000"
25,60,Broken Bow,NE3104105,"3,506",Expand main and service,"$250,000"
26,15,Brunswick,NE3100309,152,Rehab mains,"$100,000"
27,200,Burr,NE3113110,52,Administrative Order - 100% MCL in Nitrates; C...,"$440,000"
28,60,Burwell,NE3107101,"1,087","Rehab water tower, mains, meters, LSL, and bac...","$1,990,000"

In [43]:
ne_2 = ne_pdfs[2].df
ne_2 = ne_2.iloc[1:,].reset_index(drop=True).copy()

ne_2.iloc[12, 4] = "100% PHA in Manganese, 100% MCL in Nitrates, 80% MCL in Arsenic; New wells and mains; Rehab tower and meters - SFY 2023, 2022 (LOAN), and 2021"
ne_2.iloc[13,4] = "Rehab mains, wellhouse, and meters; New treatment"
ne_2.iloc[14,4] = "New wellhouse; Repaint/Rehab storage tank; Replace/Extend mains; Replace LSL; Rehab pump station; Rehab treatment; New/Replace meters"

ne_2 = ne_2.drop(15, axis=0).reset_index(drop=True)

ne_2 = ne_2.replace("\n", " ", regex=True)

ne_2

,0,1,2,3,4,5
0,130,Byron,NE3116907,83,New well and tower; Rehab mains,"$1,600,000"
1,135,Cairo,NE3107906,822,100% MCL in Arsenic; Update meters,"$7,500"
2,30,Cambridge,NE3106504,"1,071",Rehab mains,"$100,000"
3,60,Campbell,NE3106107,272,Rehab distribution system,"$150,000"
4,60,Carroll,NE3118102,191,Replace/Loop mains - SFY 2022,"$250,000"
5,135,Cass Cnty RWD 1,NE3102521,"3,195",80% PHA in Manganese; New well and house; Reha...,"$795,000"
6,60,Cass Cnty RWD 2,NE3120304,"2,000",New main,"$300,000"
7,30,Cass Cnty SID #5,NE3120035,"1,417",Rehab booster station and mains; New well,"$2,580,000"
8,175,Cedar Bluffs,NE3115504,615,"80% MCL in Arsenic, 80% PHA in Manganese; Exte...","$4,825,000"
9,160,Cedar Knox Rural Water,NE3120303,"3,056",Administrative Order; 100% MCL in Nitrates and...,"$32,193,000"
10,60,Cedar Rapids,NE3101101,382,Rehab mains and meters,"$300,000"
11,135,Center,NE3110707,79,"100% PHA in Manganese, 80% MCL in Selenium and...","$105,000"
12,135,Central City,NE3112102,"3,039","100% PHA in Manganese, 100% MCL in Nitrates, 8...","$2,200,000"
13,60,Ceresco,NE3115503,919,"Rehab mains, wellhouse, and meters; New treatment","$205,000"
14,60,Chadron,NE3104507,"5,206",New wellhouse; Repaint/Rehab storage tank; Rep...,"$3,770,400"
15,80,Chambers,NE3108901,288,Replace mains and pressure tank piping - SFY 2022,"$700,000"
16,15,Chapman,NE3120819,260,"Rehab mains, hydrants, tower, and meters","$390,000"
17,135,Chappell,NE3104901,844,80% MCL in Arsenic; New well and/or treatment;...,"$990,000"
18,175,Chester,NE3116906,224,100% MCL in Nitrates; New well and meters; Loo...,"$1,300,000"
19,90,Cheyenne County SID #1,NE3103307,80,Replace mains - SFY 2020,"$500,000"
20,135,Clarks,NE3112101,344,"80% PHA in Manganese, 80% MCL in Uranium; Repl...","$70,000"
21,135,Clarkson,NE3103703,641,100% MCL in PHA in Manganese; New well,"$800,000"
22,30,Clay Center,NE3103506,735,Loop mains; Rehab well,"$210,000"
23,120,Clearview Utilities Corp.,NE3120029,115,Extend main to Interconnect with Kearney,"$800,000"
24,135,Clearwater,NE3100308,320,"100% MCL in Arsenic, 80% PHA in Manganese; New...","$55,000"

In [46]:
ne_3 = ne_pdfs[3].df
ne_3 = ne_3.iloc[1:,].reset_index(drop=True).copy()

ne_3.iloc[24,4] = "100% PHA in Manganese, 80% MCL in Arsenic; New main; Upgrade meters - SFY 2023 Replace mains; Rehab/Replace WTP - SFY 2019"

ne_3 = ne_3.drop(25, axis=0).reset_index(drop=True)

ne_3 = ne_3.replace("\n", " ", regex=True)

ne_3

,0,1,2,3,4,5
0,135,Cody,NE3103101,168,"80% MCL in Arsenic; Rehab tower, meters, and h...","$725,000"
1,165,Coleridge,NE3102706,537,80% MCL in Nitrates; New well with transmissio...,"$2,750,000"
2,15,Columbus,NE3114110,"24,028",Replace LSL - National Needs Survey,"$6,773,625"
3,30,Comstock,NE3104110,68,"Repaint tower; Replace meters, VFD, and LSL","$350,000"
4,55,Concord,NE3105103,126,Rehab wells and mains,"$800,000"
5,60,Cook,NE3109701,319,New tank; Replace meters and mains,"$768,500"
6,60,Cozad,NE3104701,"3,988",Replace meters and LSL; Replace/repair aging i...,"$1,690,000"
7,175,Craig,NE3102105,202,100% PHA in Manganese; Replace standpipe; Reha...,"$7,315,000"
8,60,Crawford,NE3104505,840,"Well capacity concerns Replace valves, hydran...","$1,550,000"
9,135,Creighton,NE3110705,"1,147",100% MCL in Nitrates; Rehab WTP; Replace mains...,"$1,410,000"
10,175,Creston,NE3114114,181,100% PHA in Manganese; New well; New/Replace m...,"$1,400,000"
11,135,Crete,NE3115104,"7,099",100% PHA in Manganese; New well; Loop mains; R...,"$3,850,000"
12,60,Crofton,NE3110704,756,Rehab tanks; Replace meters - SFY 2023 Replac...,"$168,000"
13,70,Crookston,NE3103102,71,New mains; Replace meters,"$350,000"
14,60,Culbertson,NE3108702,534,Rehab well,"$50,000"
15,135,Cuming Cnty RWD 1,NE3102522,"1,869",100% MCL in Nitrates; Decommission old well; I...,"$100,000"
16,60,Curtis,NE3106302,806,"Improvements to distribution, mains, meters, v...","$1,730,000"
17,60,Dakota City,NE3104301,"2,081",100% PHA in Manganese; New well with transmiss...,"$943,100"
18,60,Dakota Cnty Rural Water,NE3120302,"2,001",Water main expansion; New booster station and ...,"$3,400,000"
19,60,Dalton,NE3103305,284,Replace mains due to deterioration; Rehab wells,"$235,000"
20,175,Danbury,NE3114501,80,80% MCL in Nitrates; Improvements to storage f...,"$1,292,000"
21,90,Dannebrog,NE3109303,273,New well and storage tank; Replace meters; Loo...,"$1,500,000"
22,15,Davenport,NE3116908,319,Rehab wellhead; Replace well,"$100,000"
23,175,Davey,NE3110911,135,100% MCL in Nitrates; New well and mains,"$1,130,000"
24,135,David City,NE3102301,"2,995","100% PHA in Manganese, 80% MCL in Arsenic; New...","$5,500,000"
25,90,Dawes Cnty RWD 1,NE3104502,91,"New distribution pump, backup power, and boost...","$3,575,000"

In [49]:
ne_4 = ne_pdfs[4].df.iloc[1:,].reset_index(drop=True).copy()

ne_4.iloc[23,4] = "100% MCL in Nitrates; Replace LSL and mains; New well - SFY 2023 Corrosion control due to Copper Advisory; Replace mains and pumps; Repaint tower - SFY 2021 (LOAN)"
ne_4.iloc[24,4] = "Replace hydrants, valves, and GPS - SFY 2023 New wells for Interconnection due to Nitrates; Repaint tower; Replace mains - SFY 2022 and 2021 (LOAN) "

ne_4 = ne_4.drop(25, axis=0).reset_index(drop=True)

ne_4 = ne_4.replace("\n", " ", regex=True)

ne_4

,0,1,2,3,4,5
0,60,Daykin,NE3109506,153,Replace mains,"$100,000"
1,135,Decatur,NE3102104,410,80% PHA in Manganese; Rehab treatment filters ...,"$230,000"
2,70,Denton,NE3110913,189,Rehab tower and WTP; Replace meters,"$510,000"
3,60,DeWeese,NE3120030,42,Replace mains - SFY 2021,"$50,000"
4,90,Diller,NE3109505,247,"New backup well, meters, and emergency generat...","$610,000"
5,165,Dixon,NE3105102,77,100% PHA in Manganese; New well and meters,"$350,000"
6,135,Dodge,NE3105307,611,100% MCL in Nitrates; Identify new well field;...,"$5,971,000"
7,15,Doniphan,NE3107905,809,New meters; Main improvements,"$75,000"
8,175,Dorchester,NE3115103,610,100% PHA in Manganese; Rehab distribution syst...,"$4,419,000"
9,165,Duncan,NE3114113,392,100% MCL in Nitrates; Rehab/Loop mains; Replac...,"$1,550,000"
10,100,Dunning,NE3100901,80,Rehab tank; Replace mains,"$550,000"
11,155,Dwight,NE3102303,229,"80% MCL in Arsenic, 100% PHA in Manganese; New...","$1,265,000"
12,35,Eagle,NE3102510,"1,065",New wellhouse; Replace mains and meters,"$3,530,000"
13,200,Edgar,NE3103505,428,Administrative Order - 100% MCL in Nitrates; B...,"$3,000,000"
14,135,Edison,NE3106503,111,100% MCL in Nitrates; Replace main and meters;...,"$842,000"
15,70,Elgin,NE3100307,717,New wells and tank - SFY 2023 and 2022 Replac...,"$1,350,000"
16,145,Elm Creek,NE3101908,979,"80% MCL in Nitrates; New well, mains, and meters","$2,180,000"
17,145,Elmwood,NE3102516,654,"80% MCL in Nitrates; Replace well, mains, and ...","$1,135,000"
18,15,Elsie,NE3113504,102,Install new standby generator,"$60,000"
19,15,Elwood,NE3107308,658,"Replace hydrants, wellhouse, and mains; New me...","$935,000"
20,155,Emerson,NE3104305,840,"100% MCL in Arsenic, 100% PHA in Manganese; Re...","$2,750,000"
21,155,Ewing,NE3108902,373,80% MCL in Arsenic; Install mains and tower; R...,"$1,060,000"
22,135,Exeter,NE3105906,523,"100% PHA in Manganese, 80% MCL in Arsenic; Rep...","$510,000"
23,135,Fairbury,NE3109507,"3,970",100% MCL in Nitrates; Replace LSL and mains; N...,"$16,436,510"
24,135,Fairfield,NE3103503,330,"Replace hydrants, valves, and GPS - SFY 2023 N...","$88,000"

In [52]:
ne_5 = ne_pdfs[5].df.iloc[1:,].reset_index(drop=True).copy()


ne_5.iloc[13,] = [135, "Geneva", "NE3105905", "2,136",
                  "100% PHA in Manganese; Loop/Replace mains; New well & mains",
                  "$1,000,000"]

ne_5.loc[len(ne_5.index)] = [135, "Gering", "NE3115717", "8,564",
                             "80% MCL in Uranium; Replace mains; Repaint tanks",
                             "$4,420,000"]

ne_5.sort_values(1, inplace=True)

ne_5 = ne_5.replace("\n", " ", regex=True)

ne_5

,0,1,2,3,4,5
0,135,Fairmont,NE3105902,592,100% PHA in Manganese; Replace mains; Treatmen...,"$2,800,000"
1,135,Falls City,NE3114705,"4,133","100% MCL in Arsenic, 100% PHA in Manganese; Re...","$750,000"
2,15,Farnam,NE3104703,182,Rehab well; Replace meters,"$213,000"
3,100,Farwell,NE3109302,138,Replace mains and hydrants; New well and backu...,"$1,330,000"
4,145,Firth,NE3110912,649,"100% MCL in Selenium, 80% MCL in Nitrates; Ins...","$1,540,000"
5,135,Fordyce,NE3102701,134,Replace well due to TTHMs - SFY 2020,"$250,000"
6,60,Fort Calhoun,NE3117907,"1,108",Extend/Replace mains; New tower,"$1,682,400"
7,30,Franklin,NE3106104,941,Replace mains and meters; Backup power,"$1,100,000"
8,135,Fremont,NE3105312,"27,141",80% MCL in Arsenic; Install main; Replace LSL,"$5,026,000"
9,60,Friend,NE3115102,954,Replace mains - SFY 2021,"$150,000"
10,135,Fullerton,NE3112503,"1,244",100% MCL in Selenium; New well and mains,"$3,890,000"
11,60,Funk,NE3113701,175,Replace well - SFY 2021,"$250,000"
12,135,Garland,NE3115901,210,100% PHA in Manganese; Replace mains; Upgrade ...,"$520,000"
13,135,Geneva,NE3105905,"2,136",100% PHA in Manganese; Loop/Replace mains; New...,"$1,000,000"
28,135,Gering,NE3115717,"8,564",80% MCL in Uranium; Replace mains; Repaint tanks,"$4,420,000"
14,145,Gibbon,NE3101907,"1,878",100% PHA in Manganese; Main improvements; Repl...,"$4,800,000"
15,145,Giltner,NE3108103,406,100% PHA in Manganese; Replace/Loop mains; Rep...,"$2,930,000"
16,15,Glenvil,NE3103504,260,New/Replace main valves,"$50,000"
17,175,Goehner,NE3115902,181,80% PHA in Manganese; Install chemical feed sy...,"$1,800,000"
18,60,Gordon,NE3116104,"1,504",New VFD's for wells; Replace mains,"$1,400,000"
19,145,Gothenburg,NE3104702,"3,478","80% MCL in Arsenic; New wells; Rehab wells, ma...","$11,000,000"
20,135,Grafton,NE3105904,106,100% PHA in Manganese; Replace valves,"$50,000"
21,60,Grand Island,NE3107902,"53,131",Replace mains and booster station - SFY 2023 ...,"$24,732,625"
22,155,Grant,NE3113503,"1,197",80% MCL in Arsenic; Replace main,"$3,725,000"
23,135,Greeley,NE3107701,402,100% PHA in Manganese; Install WTP,"$1,000,000"
24,145,Greenwood,NE3102517,595,80% MCL in Nitrates; New well; Rehab mains and...,"$1,891,000"
25,175,Gresham,NE3118702,219,100% PHA in Manganese; Replace mains and meter...,"$1,420,000"
26,30,Gretna,NE3115303,"5,083",Replace mains and meters; Extend mains; Repain...,"$350,000"
27,60,Guide Rock,NE3120358,225,Replace aged mains,"$100,000"

In [55]:
ne_6 = ne_pdfs[6].df.iloc[1:,].reset_index(drop=True).copy()

ne_6.iloc[10,4] = "80% MCL in Arsenic; Rehab well; Replace meters - SFY 2023 \
Replace tank due to low pressures; Replace/Loop mains; Replace \
meters - SFY 2022"

ne_6.iloc[15,] = [90, "Hershey", "NE3111101", "649", "Replace mains", "$125,000"]
ne_6.loc[16,] = [145, "Hickman", "NE3110917", "2,607", "100% PHA in Manganese; New tower and well; Replace mains; Redundant transmission main, New Treatment Skid", 
                             "$11,634,000"]

ne_6.iloc[27,] = [135, "Humphrey", "NE3114103", "857", "80% MCL in Nitrates and Selenium; New/Replace mains", "$1,250,000"]

ne_6.loc[len(ne_6.index)] = [100, "Hyannis", "NE3107501", "165", "Rehab tank and mains; New meters", "$3,578,500"]

ne_6.sort_values(1, inplace=True)

ne_6 = ne_6.replace("\n", " ", regex=True)

ne_6 = ne_6.drop([11,], axis=0).reset_index(drop=True)


ne_6

,0,1,2,3,4,5
0,145,Haigler,NE3105702,145,100% MCL in Arsenic; Replace mains and meters;...,"$265,000"
1,145,Hallam,NE3110922,268,100% PHA in Manganese; New well; Replace mains,"$725,000"
2,135,Hampton,NE3108102,432,100% MCL in Nitrates; New mains and valves; Up...,"$580,000"
3,15,Harbine,NE3109510,56,Replace tank and turbine pump,"$40,000"
4,60,Hardy,NE3112902,97,Replace main and meters,"$318,000"
5,15,Harrisburg,NE3120954,99,Rehab well; Replace meters,"$12,500"
6,70,Harrison,NE3116501,239,"Replace mains, valves, and hydrants","$385,000"
7,135,Hartington,NE3102702,"1,517",100% MCL in Nitrates; New well and mains; Repa...,"$1,000,000"
8,135,Hastings,NE3100101,"25,152","100% MCL in Nitrates, 80% MCL in Uranium; New/...","$14,168,125"
9,145,Hay Springs,NE3116102,599,80% MCL in Arsenic; New well; Rehab tank and m...,"$900,000"
10,135,Hayes Center,NE3108502,224,80% MCL in Arsenic; Rehab well; Replace meters...,"$75,000"
11,135,Hebron,NE3116901,"1,458",100% MCL in Nitrates; Replace well and mains; ...,"$1,125,000"
12,145,Hemingford,NE3101303,787,80% MCL in Arsenic; Replace well and meters; E...,"$1,377,000"
13,15,Henry,NE3115706,125,Sample stations,"$10,000"
14,90,Hershey,NE3111101,649,Replace mains,"$125,000"
15,145,Hickman,NE3110917,"2,607",100% PHA in Manganese; New tower and well; Rep...,"$11,634,000"
16,135,Hildreth,NE3106105,377,80% MCL in Nitrates; New well; Blend main,"$700,000"
17,135,Holdrege,NE3113705,"5,515",100% MCL in Nitrates; New well; Replace/New ma...,"$2,200,000"
18,25,Holmesville,,60,Rehab meters,"$63,000"
19,30,Holstein,NE3100103,191,Loop mains; Replace LSL,"$100,000"
20,60,Homer,NE3104304,532,Replace/Loop mains - SFY 2022,"$500,000"
21,135,Hooper,NE3105310,857,100% PHA in Manganese; Replace mains,"$500,000"
22,145,Hoskins,NE3118101,263,80% PHA in Manganese; Replace well and hydrant...,"$900,000"
23,70,Howells,NE3103704,561,Replace well and meters; Loop mains,"$1,400,000"
24,135,Hubbell,NE3116903,63,100% MCL in Nitrates; Rehab tower; Replace mains,"$18,000"
25,135,Humboldt,NE3114702,800,100% MCL in Nitrates; Rehab mains; Replace LSL,"$140,000"
26,135,Humphrey,NE3114103,857,80% MCL in Nitrates and Selenium; New/Replace ...,"$1,250,000"
27,100,Hyannis,NE3107501,165,Rehab tank and mains; New meters,"$3,578,500"
28,135,Imperial,NE3102902,"2,068",80% MCL in Arsenic; New/Replace/Extend/Loop ma...,"$1,050,000"
29,60,Indianola,NE3114506,521,Replace mains and meters,"$770,000"

In [59]:
ne_7 = ne_pdfs[7].df.iloc[1:29,].reset_index(drop=True).copy()

ne_7.iloc[10,1] = "Lancaster Cnty SID #3 - Holland Village"
ne_7.iloc[11,1] = "Laurel"
ne_7.iloc[11,4] = "100% MCL in Uranium, 80% MCL in Nitrates; Install/Loop mains; New meters; Replace hydrants; Extend booster station"

ne_7.iloc[19,4] = "100% PHA in Manganese; WTP Improvements; New collector well; Replace/Rehab wells; Repaint reservoirs; Replace mains and meters - SFY 2023 Replace LSL - National Needs Survey"

ne_7 = ne_7.drop([12,20], axis=0).reset_index(drop=True)

ne_7 = ne_7.replace("\n", " ", regex=True)

ne_7

,0,1,2,3,4,5
0,130,Jackson,NE3104302,207,Replace well lost due to Uranium; Rehab tank; ...,"$480,000"
1,100,Jansen,NE3109509,101,"Replace LSL, valves, and hydrants; Loop/Replac...","$1,100,000"
2,135,Johnson,NE3112708,309,Rehab tank due to Coliform - SFY 2022,"$65,000"
3,165,Julian,NE3112709,46,"80% MCL in Nitrates; New well, storage tanks, ...","$265,000"
4,60,Juniata,NE3100107,748,Replace aging wells; New meters,"$741,000"
5,30,Kearney,NE3101906,"33,790",Rehab mains; Replace LSL,"$28,087,100"
6,60,Kenesaw,NE3100106,919,"New/Rehab/Replace wells, mains, LSL, pump stat...","$362,000"
7,70,Kennard,NE3117906,381,Replace mains - SFY 2022,"$1,179,000"
8,100,Kilgore,NE3103104,63,Backup well - SFY 2021,"$200,000"
9,110,Kimball,NE3110501,"2,290","Install backup generators, valves, and meters;...","$6,500,000"
10,60,Lancaster Cnty SID #3 - Holland Village,NE3110924,165,Rehab well; New/Rehab tank,"$150,000"
11,135,Laurel,NE3102705,972,"100% MCL in Uranium, 80% MCL in Nitrates; Inst...","$1,800,000"
12,60,Lawrence,NE3112901,272,Storage tank improvements - SFY 2023 Replace ...,"$60,000"
13,175,Lebanon,NE3114505,46,"100% MCL in Arsenic, 100% PHA in Manganese; Ne...","$1,423,000"
14,30,Leigh,NE3103705,435,Replace/Loop mains; Replace hydrants,"$350,000"
15,60,Lewellen,NE3120064,175,"Repairs to wells, tank, and mains","$104,000"
16,135,Lexington,NE3104708,"10,348","100% MCL in Uranium, 80% MCL in Nitrates; New ...","$700,000"
17,45,Liberty,NE3106701,37,Well improvements; Repaint tank; Replace mains...,"$91,500"
18,135,Lincoln,NE3110926,"291,082",100% PHA in Manganese; WTP Improvements; New c...,"$123,230,000"
19,135,Lindsay,NE3114104,283,100% MCL in Nitrates; Replace mains - SFY 2023...,"$250,000"
20,135,Litchfield,NE3116302,220,80% MCL in Nitrates; Upgrade meters,"$90,000"
21,60,Little Blue NRD RWD 1,NE3109504,"1,580",Replacement wells or Pumphouse improvements - ...,"$2,500,000"
22,160,Lodgepole,NE3103304,312,New wellfield or treatment due to Arsenic; Rep...,"$10,100,000"
23,60,Logan East Rural Water System,NE3120658,"3,000","New well, tank, and mains; Replace mains","$2,500,000"
24,145,Loomis,NE3113702,391,100% MCL in Nitrates; New well and meters; New...,"$1,150,000"
25,135,Louisville,NE3102512,"1,319",100% PHA in Manganese; Rehab well; New meters,"$74,294"

In [64]:
ne_8 = ne_pdfs[8].df.iloc[1:,].reset_index(drop=True).copy()

ne_8.iloc[9,4] = "100% PHA in Manganese; Replace mains, valves, and hydrants - \
SFY 2023 New/Rehab well due to SOCs; Replace mains; Rehab \
tank - SFY 2022 (LOAN)"

ne_8.iloc[11,4] = "Administrative Order; 100% PHA in Manganese, 100% MCL in \
Uranium, 80% MCL in Nitrates; New/Rehab wells; Replace \
standpipe and tank"

ne_8.iloc[15,4] = "100% PHA in Manganese, 80% MCL in Uranium; Replace meters, \
booster pumps, and filter media; Replace/Loop mains; VFDs; \
Rehab tank, wells, and WTP"

ne_8.iloc[17,] = [135, "McCool Junction", "NE3120195", "453", "100% MCL in Nitrates; Replace well and mains; New hydrant valves", "$1,100,000"]
ne_8.iloc[18,] = [135, "Mead", "NE3115509", "617", "100% MCL in Arsenic, 100% PHA in Manganese; Replace mains and meters", "$580,000"]

ne_8.iloc[21,] = [60, "Metropolitan Utilities District of Omaha", "NE3105507"," 600,354", 
"Partial Rehab of WTP; Loop/Replace mains; Repaint tanks; \
Replace meters; WTP discharge improvements per NPDES permits \
- SFY 2023 Replace LSL - National Needs Survey", "$329,543,000"]

ne_8.iloc[22,] = [145, "Milford", "NE3115907", "2,155", "100% MCL in Nitrates; New blending station and well; New/Replace mains; Rehab chemical feed", "$6,401,800"]

ne_8.iloc[27,4] = "100% PHA in Manganese; Replace mains and chemical feed \
(WTP) improvements; Add valves and hydrants; Install backup \
power and VFDs; Rehab well; Backwash Improvements at WTP \
(NPDES Order 2022)"

ne_8 = ne_8.drop([10,12,16,23,28], axis=0).reset_index(drop=True)

ne_8 = ne_8.replace("\n", " ", regex=True)

ne_8

,0,1,2,3,4,5
0,60,Loup City,NE3116303,"1,053",Replace mains - SFY 2023 Replace mains; Rehab...,"$250,000"
1,60,Lower Republican NRD,NE3121196,200,"Upgrade meters, pump house, tower, and pressur...","$146,500"
2,30,Lyman,NE3115710,259,Loop/Upsize mains; Replace LSL,"$535,000"
3,60,Lynch,NE3101504,194,Replace mains,"$100,000"
4,145,Lyons,NE3102103,824,100% PHA in Manganese; New/Rehab well; Upgrade...,"$1,200,000"
5,60,Madison,NE3111916,"2,283",Replace/Loop mains,"$575,000"
6,110,Madrid,NE3113502,242,New well and pump house; New/Replace mains,"$800,000"
7,155,Malcolm,NE3110923,457,100% PHA in Manganese; VFDs on wells; Standby ...,"$2,360,000"
8,15,Manley,NE3102513,167,Replace valves and meters,"$150,000"
9,135,Marquette,NE3108105,236,"100% PHA in Manganese; Replace mains, valves, ...","$340,000"
10,160,Martinsburg,NE3105108,78,"Administrative Order; 100% PHA in Manganese, 1...","$1,850,000"
11,100,Maskell,NE3105104,58,New well; Replace meters,"$120,000"
12,15,Mason City,NE3104109,151,Install valves; Replace mains,"$100,000"
13,135,McCook,NE3114504,"7,446","100% PHA in Manganese, 80% MCL in Uranium; Rep...","$9,225,000"
14,135,McCool Junction,NE3120195,453,100% MCL in Nitrates; Replace well and mains; ...,"$1,100,000"
15,135,Mead,NE3115509,617,"100% MCL in Arsenic, 100% PHA in Manganese; Re...","$580,000"
16,15,Meadow Grove,NE3111917,287,Replace mains,"$150,000"
17,25,Merriman,NE3103103,87,Rehab well and VFD,"$75,000"
18,60,Metropolitan Utilities District of Omaha,NE3105507,"600,354",Partial Rehab of WTP; Loop/Replace mains; Repa...,"$329,543,000"
19,145,Milford,NE3115907,"2,155",100% MCL in Nitrates; New blending station and...,"$6,401,800"
20,60,Miller,NE3101903,129,Replace mains and meters,"$230,000"
21,135,Milligan,NE3105907,244,80% MCL in Nitrates; New well; Rehab mains; Re...,"$945,000"
22,90,Minatare,NE3115702,715,"Replace pump station, mains, and meters; Rehab...","$114,000"
23,135,Minden,NE3109904,"3,118",100% PHA in Manganese; Replace mains and chemi...,"$2,890,000"

In [67]:
ne_9 = ne_pdfs[9].df.iloc[1:,].reset_index(drop=True).copy()

ne_9.iloc[8,4] = "Upgrade wells; Replace pump; Rehab tower; Land Acquisition for \
Source Water Protection - SFY 2022 \
Replace LSL - National Needs Survey"

ne_9.iloc[25,] = [15, "Ogallala", "NE3110102", "4,878", "Replace meters", "$38,000"]

ne_9.loc[len(ne_9.index)] = [135, "Ohiowa", "NE3105908", "120", "100% PHA in Manganese; Replace meters", "$50,000"]

ne_9.sort_values(1, inplace=True)

ne_9 = ne_9.replace("\n", " ", regex=True)

ne_9 = ne_9.drop([9,], axis=0).reset_index(drop=True)

ne_9

,0,1,2,3,4,5
0,60,Mitchell,NE3115703,"1,548",Extend mains; New wellhouse and tank; Backup g...,"$1,730,000"
1,70,Monroe,NE3114102,296,Replace tank and mains - SFY 2019,"$500,000"
2,90,Moorefield,NE3106304,27,Replace mains - SFY 2021,"$75,000"
3,15,Morrill,NE3115708,934,Replace valves; New hydrants,"$113,500"
4,80,Mullen,NE3109101,500,Replace tank and mains; Rehab well,"$1,200,000"
5,60,Murdock,NE3102511,270,Replace mains and meters; Rehab well and tank ...,"$250,000"
6,15,Murray,NE3102514,480,Replace meters,"$15,000"
7,120,Naponee,NE3106103,83,Replace well due to Arsenic - SFY 2021,"$100,000"
8,90,Nebraska City,NE3113106,"7,222",Upgrade wells; Replace pump; Rehab tower; Land...,"$6,222,250"
9,15,Nehawka,NE3102515,173,Replace meters,"$5,000"
10,30,Neligh,NE3100305,"1,536",Loop/Replace mains; Rehab well,"$2,308,120"
11,30,Nelson,NE3112903,456,"Replace mains (to meet demand), LSL, and meters","$100,000"
12,135,Nemaha Cnty RWD 1,NE3112701,500,100% MCL in Nitrates; New well; Rehab pump sta...,"$705,000"
13,135,Nemaha Cnty RWD 2,NE3112707,"1,007",80% MCL in Nitrates; Replace meters; New well;...,"$340,000"
14,25,Newport,NE3114901,68,Replace meters & Repaint tank,"$75,000"
15,135,Niobrara,NE3110709,365,100% PHA in Manganese; New wells; Replace meters,"$150,000"
16,135,Norfolk,NE3111910,"24,955",80% MCL in Arsenic; New well and tank; New/Rep...,"$11,357,003"
17,135,North Bend,NE3105305,"1,279",100% PHA in Manganese; Loop mains,"$500,000"
18,60,North Loup,NE3117502,254,Replace master meter pit,"$60,000"
19,15,North Platte,NE3111106,"23,390",Replace LSL - National Needs Survey,"$7,767,500"
20,135,O'Neill,NE3108904,"3,581",80% MCL in Arsenic; Replace mains and meters; ...,"$1,365,000"
21,60,Oakdale,NE3100302,276,Replace mains,"$100,000"
22,135,Oakland,NE3102101,"1,369","100% MCL in Arsenic, 100% PHA in Manganese; Re...","$7,819,000"
23,15,Oconto,NE3104107,138,Rehab well; Replace hydrants and valves; Repai...,"$105,000"
24,15,Odell,NE3106708,260,Repaint and Rehab on storage facility; Replace...,"$250,000"
25,15,Ogallala,NE3110102,"4,878",Replace meters,"$38,000"
26,135,Ohiowa,NE3105908,120,100% PHA in Manganese; Replace meters,"$50,000"
27,15,Ord,NE3117501,"2,113",Extend mains; Rehab wellhouses; Replace LSL an...,"$128,000"
28,15,Orleans,NE3108306,341,Replace mains & Reline well,"$130,000"
29,135,Osceola,NE3114302,875,"100% MCL in Nitrates, 80% MCL in Arsenic; Repl...","$2,102,400"
30,135,Oshkosh,NE3106901,809,80% MCL in Arsenic; New/Replace mains,"$50,000"

In [70]:
ne_10 = ne_pdfs[10].df.iloc[1:,].reset_index(drop=True).copy()

ne_10.iloc[19,4] = "Regional Water Supply for Henry, Lyman, Morrill, Scottsbluff,\
Terrytown, Gering, Minatare, Bayard and Bridgeport Counties with\
high Arsenic, Nitrates, and/or Uranium"

ne_10.iloc[21,4] = "100% MCL in Nitrates; Extension to NDOT; Rehab mains - SFY\
2023\
Replace well due to Nitrates; Replace/Loop mains - SFY 2021"

ne_10.iloc[23,4] = "100% PHA in Manganese; Replace mains and meters - SFY 2023\
and 2019 (LOAN)\
New water supply/treatment facility; Replace mains - SFY 2022"

ne_10 = ne_10.drop([20,22,24], axis=0).reset_index(drop=True)

ne_10 = ne_10.replace("\n", " ", regex=True)

ne_10

,0,1,2,3,4,5
0,145,Osmond,NE3113903,794,80% MCL in Nitrates; Loop mains; Replace stora...,"$1,600,000"
1,80,Otoe,NE3113108,161,Replace mains and meters; Rehab meter house,"$352,000"
2,90,Otoe Cnty RWD 1,NE3113109,704,Replace meters; Upgrade booster pump station a...,"$4,089,000"
3,135,Overton,NE3104710,607,80% MCL in Arsenic; Replace mains; Repaint tower,"$900,000"
4,135,Oxford,NE3106502,718,80% MCL in Nitrates; New well; Replace mains a...,"$3,910,000"
5,70,Page,NE3108903,166,Replace mains and meters; Rehab WTP and wells ...,"$569,677"
6,15,Palisade,NE3120023,294,Rehab wells; Install control panel shelter,"$50,000"
7,60,Papillion,NE3115313,"24,159",New/Repaint tower; Replace treatment system; R...,"$20,585,000"
8,30,Pawnee City,NE3113305,865,Rehab well and storage tank; Replace mains and...,"$916,296"
9,60,Pawnee Cnty RWD 1,NE3113304,"1,500",Relocate lines - SFY 2023 Replace mains - SFY...,"$150,000"
10,135,Paxton,NE3110101,516,"100% MCL in Uranium, 80% MCL in Nitrates; Repl...","$245,000"
11,145,Pender,NE3117308,"1,115",80% MCL in Nitrates; New well; Replace mains a...,"$2,700,000"
12,135,Peru,NE3112705,648,100% PHA in Manganese; Interconnect w/Auburn; ...,"$8,575,000"
13,60,Petersburg,NE3101104,332,Rehab tower; New well; Replace mains,"$280,000"
14,145,Phillips,NE3108106,320,100% MCL in Uranium; Replace/Loop mains,"$750,000"
15,60,Pickrell,NE3106711,186,Backup generator; New mains,"$150,000"
16,15,Pierce,NE3113904,"1,845",Replace mains; Rehab well,"$85,000"
17,135,Pilger,NE3116701,240,100% PHA in Manganese; Loop mains; Replace meters,"$200,000"
18,160,Plainview,NE3113902,"1,282",100% MCL in Nitrates; New well; New/Replace ma...,"$3,020,000"
19,135,Platte Alliance Water Supply,,25,"Regional Water Supply for Henry, Lyman, Morril...","$275,000,000"
20,135,Platte Center,NE3114101,333,100% MCL in Nitrates; Extension to NDOT; Rehab...,"$80,000"
21,135,Plattsmouth,NE3102501,"6,544",100% PHA in Manganese; Replace mains and meter...,"$18,323,500"
22,135,Pleasant Dale,NE3115906,218,100% MCL in Nitrates; Rehab well; Repaint tank,"$270,000"
23,135,Pleasanton,NE3101909,361,100% PHA in Manganese; Rehab wellhouse; Replac...,"$255,000"

In [75]:
ne_11 = ne_pdfs[11].df.iloc[1:,].reset_index(drop=True).copy()

ne_11.iloc[1,4] = "100% PHA in Manganese, 100% MCL in Nitrates; Rehab mains;\
Treatment due to high Iron and Manganese - SFY 2023\
Treatment due to Nitrates and Iron/Mg; Rehab wells and mains -\
SFY 2022"

ne_11.iloc[20,1] = "Sarpy Cnty SID #79 Meadow Oaks"
ne_11.iloc[22,1] = "Saunders Cnty SID #8 - Woodcliff Lake"

ne_11.iloc[27,1] = "Scottsbluff Cnty SID #10 - Wildcat Hills"
ne_11.iloc[27,4] = "100% MCL in Uranium, 80% MCL in Nitrates; New treatment filter;\
Install controls and water pumping station; Rehab/Replace main;\
Rehab well"

ne_11 = ne_11.drop([2,21,23,28], axis=0)

ne_11 = ne_11.replace("\n", " ", regex=True)

ne_11

,0,1,2,3,4,5
0,60,Plymouth,NE3109503,364,New tower; Rehab mains and well,"$1,600,000"
1,135,Polk,NE3114301,346,"100% PHA in Manganese, 100% MCL in Nitrates; R...","$1,475,000"
3,155,Ponca,NE3105106,907,80% MCL in Nitrates; Replace/Loop mains; Rehab...,"$3,500,000"
4,15,Potter,NE3103302,342,"Replace/Rehab mains, valves, hydrants, and cur...","$50,000"
5,135,Prague,NE3115501,291,100% PHA in Manganese; New well; Replace meter...,"$1,135,000"
6,25,Ragan,NE3108305,22,Replace meters; New chemical feed,"$50,000"
7,60,Randolph,NE3102709,879,Replace/Loop mains; Replace meters,"$566,000"
8,60,Ravenna,NE3101911,"1,441",Rehab mains; Replace meters,"$280,000"
9,160,Raven's Nest,NE3121381,58,"Replace shallow well, tank, and mains due to A...","$571,000"
10,60,Red Cloud,NE3118301,962,New wellhouses and VFD; Rehab mains,"$1,000,000"
11,165,Republican City,NE3108304,134,80% MCL in Nitrates; Replace wellhouse; Instal...,"$450,000"
12,60,Riverdale,NE3120710,247,Rehab mains and meters,"$242,000"
13,145,Riverton,NE3106101,57,"80% MCL in Arsenic; Interconnect w/RWD, rehab ...","$1,380,000"
14,25,Rockville,NE3120818,89,Backup generator; Replace well pumps and meters,"$110,000"
15,15,Rosalie,NE3117307,159,Repaint tower,"$150,000"
16,60,Roseland,NE3130003,263,New well; Replace meters - SFY 2023,"$1,200,000"
17,70,Rushville,NE3116101,816,Replace mains and meters,"$800,000"
18,135,Ruskin,NE3112905,105,80% MCL in Nitrates; Rehab well and mains,"$150,000"
19,135,Sargent,NE3104101,500,100% PHA in Manganese; Replace mains and meter...,"$73,000"
20,60,Sarpy Cnty SID #79 Meadow Oaks,NE3115302,300,Replace well - SFY 2021,"$800,000"
22,15,Saunders Cnty SID #8 - Woodcliff Lake,NE3120483,925,Rehab/Repaint tower; Rehab wellhouses; Replace...,"$120,000"
24,145,Schuyler,NE3103701,"6,547",100% MCL in Uranium; New wells and mains; Repa...,"$20,575,550"
25,15,Scotia,NE3107703,301,Replace mains and meters,"$225,000"
26,135,Scottsbluff,NE3115716,"14,436",100% MCL in Nitrates and Uranium; Install boos...,"$690,000"
27,135,Scottsbluff Cnty SID #10 - Wildcat Hills,NE3120305,150,"100% MCL in Uranium, 80% MCL in Nitrates; New ...","$800,000"

In [77]:
ne_12 = ne_pdfs[12].df.iloc[1:,].reset_index(drop=True).copy()

ne_12.iloc[1,4] = "100% MCL in Nitrates and Uranium; New tower and wells; Extend\
mains - SFY 2023\
Replace tower, mains, and meters; Rehab well - SFY 2022"

ne_12.iloc[10,4] = "100% PHA in Manganese, 80% MCL in Arsenic; Rehab well;\
Replace mains and meters"

ne_12.iloc[13,4] = "Replace main and tower - SFY 2023\
Replace well lost due to Nitrates; Loop mains - SFY 2022 (LOAN)\
Provide supply to Platteview H.S. due to Nitrates - SFY 2019"

ne_12 = ne_12.drop([2,11,14], axis=0).reset_index(drop=True)

ne_12 = ne_12.replace("\n", " ", regex=True)

ne_12

,0,1,2,3,4,5
0,135,Scribner,NE3105302,843,"100% PHA in Manganese; Replace mains, valves, ...","$720,000"
1,135,Seward,NE3115905,"7,643",100% MCL in Nitrates and Uranium; New tower an...,"$3,500,000"
2,135,Shelby,NE3114304,710,100% PHA in Manganese; Replace mains and valves,"$75,000"
3,135,Shelton,NE3101910,"1,034",100% PHA in Manganese; Loop mains; Replace LSL...,"$545,000"
4,135,Shickley,NE3105909,347,80% MCL in Nitrates; Rehab mains; New meters,"$500,000"
5,90,Silver Creek,NE3112104,320,New well and mains,"$450,000"
6,90,Smithfield,NE3107313,60,Backup well; Rehab pump and meters,"$500,000"
7,60,Snyder,NE3105303,254,New well,"$300,000"
8,70,South Sioux City,NE3104309,"14,043","New/Replace/Extend mains; New pump station, wa...","$34,088,750"
9,135,Spalding,NE3107702,408,"100% PHA in Manganese, 80% MCL in Arsenic; Reh...","$430,000"
10,15,Spencer,NE3101507,408,Replace mains and meters,"$350,000"
11,145,Springfield,NE3115301,"1,501",Replace main and tower - SFY 2023Replace well ...,"$4,200,000"
12,15,St. Helena,NE3120175,89,Rehab mains,"$15,000"
13,60,St. Paul,NE3109306,"2,416","Replace mains, LSL, and meters; Rehab wells, t...","$481,000"
14,30,Stamford,NE3108301,158,Replace mains and meters,"$320,000"
15,135,Stanton,NE3116702,"1,520",100% PHA in Manganese; New well,"$350,000"
16,135,Stanton Cnty SID #1-Woodland Pk,NE3120155,"1,866","100% PHA in Manganese; Replace mains, tank, an...","$2,140,000"
17,100,Staplehurst,NE3115914,236,"Elevate tower; New meters, well, and mains; Lo...","$2,000,000"
18,15,Stapleton,NE3111301,267,Backup power,"$50,000"
19,130,Steele City,NE3109502,44,100% MCL in Nitrates; Sourcing water from near...,"$1,075,000"
20,60,Sterling,NE3109706,480,Replace mains; New meters,"$446,050"
21,90,Stockville,NE3106305,25,"Replace mains, controls, wellhouse, and securi...","$145,000"
22,165,Stratton,NE3108701,310,80% MCL in Arsenic; Replace mains and meters,"$928,000"
23,135,Stromsburg,NE3114303,"1,143","100% MCL in Arsenic, 80% MCL in Nitrates; Repl...","$527,000"

In [80]:
ne_13 = ne_pdfs[13].df.iloc[1:,].reset_index(drop=True).copy()

ne_13.iloc[2,4] = "80% MCL in Nitrates; Replace mains and meters; Rehab/Repaint\
tank; New treatment - SFY 2023\
Replace well due to Nitrates, mains, and meters - SFY 2021"

ne_13 = ne_13.drop(3, axis=0).reset_index(drop=True)

ne_13 = ne_13.replace("\n", " ", regex=True)

ne_13

,0,1,2,3,4,5
0,145,Stuart,NE3108906,486,80% MCL in Arsenic; Replace well; Replace/Loop...,"$750,000"
1,135,Sumner,NE3120220,252,100% PHA in Manganese; Rehab tank; Replace meters,"$92,000"
2,135,Superior,NE3112904,"1,825",80% MCL in Nitrates; Replace mains and meters;...,"$5,463,978"
3,135,Sutton,NE3103507,"1,447",80% MCL in Nitrates; Replace mains; Rehab/Repa...,"$1,950,000"
4,60,Swanton,NE3115106,82,Replace mains,"$250,000"
5,110,Syracuse,NE3113104,"1,941",New/Replace/Loop mains; New storage tank; Repl...,"$8,010,250"
6,135,Table Rock,NE3113308,233,100% PHA in Manganese; Replace mains,"$100,000"
7,175,Talmage,NE3113102,198,"100% PHA in Manganese; New well, WTP, tower, a...","$1,225,000"
8,135,Tekamah,NE3102102,"1,714",80% MCL in Nitrates; Rehab wells; New VFDs and...,"$650,000"
9,25,Terrytown,NE3115701,"1,057",New meters - SFY 2019 (LOAN),"$1,300,000"
10,70,Tilden,NE3100301,992,New well; New/Replace mains,"$1,450,000"
11,60,Tobias,NE3115108,114,New mains,"$100,000"
12,15,Trenton,NE3108503,516,New wellhouse; New/Replace meters,"$115,000"
13,15,Trumbull,NE3100108,194,Replace meters,"$75,000"
14,15,Uehling,NE3105304,241,"Replace mains, valves, and hydrants; Repaint s...","$2,071,000"
15,60,Unadilla,NE3113101,296,Replace mains,"$400,000"
16,175,Union,NE3102505,195,80% MCL in Nitrates; Replace mains,"$2,000,000"
17,135,Upland,NE3106102,125,100% PHA in Manganese; Replace mains and valves,"$75,000"
18,60,Utica,NE3115913,840,Replace mains and meters,"$120,000"
19,135,Valentine,NE3103106,"2,633","100% MCL in Nitrates; New well; Rehab mains, V...","$2,750,000"
20,135,Valley,NE3105518,"3,037",100% PHA in Manganese; Upgrade WTP - SFY 2022,"$7,935,020"
21,60,Valparaiso,NE3115511,595,Replace mains and standpipe - SFY 2023 Replac...,"$335,000"
22,130,Verdel,NE3110712,38,Replace mains; New backup well,"$378,000"
23,60,Verdigre,NE3110713,554,Replace mains and meters,"$675,000"
24,60,Waco,NE3118705,296,Repaint tower; Replace mains - SFY 2021,"$265,000"
25,60,Wahoo,NE3115512,"4,818",Loop/Replace mains; Replace well and meters; N...,"$11,499,000"
26,155,Wakefield,NE3105107,"1,522",100% PHA in Manganese; Replace WTP and meters,"$6,500,000"
27,60,Wallace,NE3111112,318,Replace meters; Repaint tower,"$125,000"
28,25,Walthill,NE3117301,682,"Rehab WTP; Replace tank, piping, pumps, motors...","$1,000,000"
29,15,Washington Cnty RWD 1,NE3120004,"1,942",Extend mains,"$6,000"

In [84]:
ne_14 = ne_pdfs[14].df.iloc[1:,].reset_index(drop=True).copy()

ne_14.iloc[6,4] = "Replace wells and meters - SFY 2022\
New well with transmission mains; Planning and design costs to\
supply center and Niobrara - SFY 2014 (LOAN)"

ne_14.iloc[9,4] = "100% PHA in Manganese; Replace mains; Well and LSL\
generators; Pump station - SFY 2023\
Upgrade WTP due in part to a Copper Advisory; Replace/Pig mains;\
Backup power - SFY 2021"

ne_14.iloc[19,4] = "100% PHA in Manganese, 100% MCL in Nitrates, 80% MCL in\
Selenium; New WTP; Loop mains; Replace LSL - SFY 2023\
Replace well due to Selenium; Loop mains; Replace tank - SFY\
2022 (LOAN)"

#append project from page 15
ne_14.loc[len(ne_14.index)] = [145, "Yutan", "NE3115515", "1,347", "New wells; Replace/Extend mains; Replace meters - SFY 2023 Replace well lost due to Nitrates, mains, and meters - SFY 2022",
"$2,530,000"]

ne_14 = ne_14.drop([7,10,20], axis=0).reset_index(drop=True)

ne_14 = ne_14.replace("\n", " ", regex=True)

ne_14

,0,1,2,3,4,5
0,60,Waterloo,NE3105517,935,Replace mains and meters,"$875,000"
1,60,Wauneta,NE3102901,549,New/Rehab well; New backup generator,"$130,000"
2,15,Wausa,NE3110711,592,Replace mains and meters,"$225,000"
3,135,Waverly,NE3110905,"4,279",80% MCL in Nitrates and Selenium; Replace mains,"$150,000"
4,135,Wayne,NE3118104,"5,973",100% MCL in Nitrates and Selenium; Rehab wells...,"$1,675,000"
5,60,Weeping Water,NE3102506,"1,029",Replace mains - SFY 2021,"$500,000"
6,60,West Knox RWD,NE3120348,565,Replace wells and meters - SFY 2022New well wi...,"$1,982,000"
7,60,West Military Water Company,NE3105506,300,Replace mains; Install meters - SFY 2020,"$1,402,171"
8,135,West Point,NE3103904,"3,500",100% PHA in Manganese; Replace mains; Well and...,"$875,000"
9,80,Western,NE3115107,227,Rehab wells and control system; New mains; Rep...,"$430,000"
10,90,Whitney,NE3104501,62,Replace mains and meters,"$599,000"
11,135,Wilber,NE3115105,"1,937",100% MCL in Nitrates; New/Replace wells; New w...,"$1,825,000"
12,30,Wilcox,NE3109901,330,New well,"$400,000"
13,135,Wilsonville,NE3106501,75,80% MCL in Nitrates; New well; Replace control...,"$1,044,000"
14,60,Winnebago,NE3117302,916,Replace meters - SFY 2023 Replace mains and m...,"$61,600"
15,70,Winnetoon,NE3110714,54,Replace mains,"$50,000"
16,50,Winside,NE3118105,379,"Replace hydrants, mains, and meters; New well;...","$1,400,000"
17,165,Wisner,NE3103903,"1,239","100% PHA in Manganese, 100% MCL in Nitrates, 8...","$5,000,000"
18,60,Wolbach,NE3107704,224,"New well and meters; Replace tank, mains, and LSL","$925,000"
19,155,Wood Lake,NE3103105,46,80% MCL in Arsenic; Replace mains and well com...,"$80,000"
20,60,Wood River,NE3107901,"1,172",New well; Repaint tower; Loop/Extend mains,"$1,188,000"
21,60,Wymore,NE3106710,"1,377",Replace mains and meters,"$652,000"
22,135,Wynot,NE3102708,216,100% MCL in Nitrates; Backup well,"$300,000"
23,135,York,NE3118706,"8,066",80% PHA in Manganese; Rehab wells; Replace mai...,"$5,225,000"
24,145,Yutan,NE3115515,"1,347",New wells; Replace/Extend mains; Replace meter...,"$2,530,000"

In [85]:
ne_app_b2 = pd.concat([ne_1, ne_2, ne_3, ne_4, ne_5, ne_6,
                       ne_7, ne_8, ne_9, ne_10, ne_11,
                       ne_12, ne_13, ne_14], ignore_index=True).reset_index(drop=True)

ne_app_b2.columns = ['Priority Points', 'Community', 'PWS Number', 'Population',
                     'Project Description', 'Estimated Total Cost']

ne_app_b2

,Priority Points,Community,PWS Number,Population,Project Description,Estimated Total Cost
0,135,Beaver City,NE3106505,537,New/Replace mains; Install sampling stations -...,"$175,000"
1,145,Beaver Crossing,NE3115911,375,100% PHA in Manganese; Install meters; Rehab m...,"$700,000"
2,60,Bee,NE3115910,171,Replace valves and mains; Install standby gene...,"$95,000"
3,135,Beemer,NE3103902,611,80% MCL in Selenium; Rehab controls; Install s...,"$74,765"
4,60,Belden,NE3102707,113,Replace mains and meters,"$100,400"
...,...,...,...,...,...,...
368,60,Wood River,NE3107901,"1,172",New well; Repaint tower; Loop/Extend mains,"$1,188,000"
369,60,Wymore,NE3106710,"1,377",Replace mains and meters,"$652,000"
370,135,Wynot,NE3102708,216,100% MCL in Nitrates; Backup well,"$300,000"
371,135,York,NE3118706,"8,066",80% PHA in Manganese; Rehab wells; Replace mai...,"$5,225,000"
372,145,Yutan,NE3115515,"1,347",New wells; Replace/Extend mains; Replace meter...,"$2,530,000"

In [86]:
ne_app_b2.to_csv("../data/year1/csv/27-Nebraska_AppB2.csv", index=False)

In [4]:
deleteTempDriveFolder(path)

Deleted folder and all files within ../temp-docs