In [1]:
## Import necessary packages
import pandas as pd
import numpy as np
import camelot
import warnings
warnings.filterwarnings("ignore")

## Nebraska
Given that each of the four tables are brief and slightly unique, they are simply exported and then manually corrected in a spreadsheet GUI. 
Most of the formatting corrections are breaking up rows that were merged together.

In [1082]:
## (27) NEBRASKA
print("Parsing Nebraska, 27/50...")
# get the full table
ne_pdfs = camelot.read_pdf("http://dee.ne.gov/Publica.nsf/xsp/.ibmmodres/domino/OpenAttachment/Publica.nsf/52DA3EF6D595324E862588B500520595/Attach/SFY_2023_IUP_Final.pdf",
                               pages='46-49', flavor='stream', row_tol=15)
len(ne_pdfs)

Parsing Nebraska, 27/50...

5

In [ ]:
# manually switch the requested page and save to a different file
ne = ne_pdfs[4].df
ne.to_csv("ne_4.csv", index=False)

### Appendix B2

In [2]:
ne_pdfs = camelot.read_pdf("../data/year1/pdf/NE/ND_2023_IUP_Final.pdf",
                               pages='93-108', flavor='stream', row_tol=15)
len(ne_pdfs)

16

In [3]:
ne_pdfs[0].df

,0,1,2,3,4,5
0,,,DWSRF PROJECT PRIORITY PLANNING LIST â€“ ALPHABE...,,,
1,Priority \nPoints,Community,PWS \nNumber,Population,Project Description,Estimated Total \nCost
2,100,Abie,NE3102305,65,Interconnect to David City-Bruno pipeline or n...,"$1,230,000"
3,15,Adams,NE3106712,604,system valves and lines \nNew/Replace mains,"$480,000"
4,60 \n60,Ainsworth \nAlbion,NE3101702 \nNE3101102,"1,616 \n1,699",Replace/Loop mains \nRehab well; Replace/Exten...,"$1,500,000 \n$1,100,000"
5,60 \n60,Alda \nAlexandria,NE3107909 \nNE3116910,647 \n148,Remove asbestos pipe from distribution system;...,"$700,000 \n$100,000"
6,160 \n135,Allen \nAlma,NE3105101 \nNE3108307,"355 \n1,043",Administrative Order; 100% MCL in Nitrates \n8...,"$3,510,000 \n$1,150,000"
7,60,Amherst,NE3120041,201,Replace/Extend mains; Replace hydrants; Contro...,"$180,000"
8,30 \n60,Ansley \nArapahoe,NE3104104 \nNE3106506,"459 \n1,002","Replace mains, hydrants, PRV, and meters \nRep...","$490,000 \n$350,000"
9,15,Arcadia,NE3117503,283,meters \nNew meters; Replace hydrants and main...,"$785,000"
10,15 \n15,Arnold \nAshton,NE3104102 \nNE3116301,592 \n198,Wells; Mains; Install/Replace meters \nReplace...,"$265,400 \n$125,000"
11,135,Atkinson,NE3108905,"1,306",80% MCL in Arsenic; Loop mains; Replace hydran...,"$550,000"
12,30 \n155,Atlanta \nAuburn,NE3113706 \nNE3112703,"106 \n3,470",Replace mains and meters \n80% PHA in Manganes...,"$250,000 \n$10,630,000"
13,155 \n145,Aurora \nBancroft,NE3108101 \nNE3103901,"4,678 \n496",100% MCL in Nitrates; Rehab wells; New mains; ...,"$23,350,000 \n$600,000"
14,25 \n15,Barneston \nBartley,NE3120604 \nNE3114502,90 \n270,Replace meters; Construct security fence; Pain...,"$201,800 \n$195,000"
15,145 \n15,Bassett \nBattle Creek,NE3114902 \nNE3111915,"538 \n1,194","80% MCL in Nitrates; Replace well, main, and m...","$755,000 \n$800,000"
16,135,Bayard,NE3112302,"1,140",80% MCL in Nitrate and Uranium; Rehab tower; R...,"$580,000"
17,135 \n15,Beatrice \nBeatrice West,NE3106705 \nNE3120998,"12,261 \n126","100% MCL in Nitrates; Replace wells, mains, an...","$17,000,000 \n$35,000"
18,,Public Water \nProject,,,,