In [2]:
import pandas as pd
import numpy as np
import camelot.io as camelot
import ghostscript
import sys
 
 # adding folders up to system path to access functions
sys.path.insert(0, '../../../')
from driveFolderHandler import downloadTempDriveFolder, deleteTempDriveFolder

In [4]:
path = "../temp-docs"
downloadTempDriveFolder(folderID='1oEDuvOrZHaDrbn_BK8Djxr6XAzFYUTx_',
                        path=path)

In [5]:
ct_attachmentD = camelot.read_pdf(path+"/20230629-SFY-2023-Final-IUPwatt--bookmarks.pdf", 
                           pages='84-92', flavor='stream')
print(len(ct_attachmentD))

9

### CT IUP Attachment D

In [50]:
ct_attachmentD = camelot.read_pdf(path+"/20230629-SFY-2023-Final-IUPwatt--bookmarks.pdf", 
                           pages='84-92', flavor='lattice')
print(len(ct_attachmentD))

18

In [51]:
ct_attachmentD_output = pd.concat([ct_attachmentD[1].df,
                                   ct_attachmentD[3].df,
                                   ct_attachmentD[5].df,
                                   ct_attachmentD[7].df,
                                   ct_attachmentD[9].df,
                                   ct_attachmentD[11].df,
                                   ct_attachmentD[13].df,
                                   ct_attachmentD[15].df,
                                   ct_attachmentD[17].df
                                    ], ignore_index=True)

ct_attachmentD_output.columns = [ct_attachmentD[0].df.iloc[0,].str.replace("\n", " ")]

ct_attachmentD_output = ct_attachmentD_output.replace("\n", " ", regex=True).copy()

ct_attachmentD_output

,Rank,Project #,PWSID,Public Water System,Town of PWS,Project Name,Points,Amount Requested,Project Serves a Disadvantaged Community,Small System,Population Served by Project,Lead Service Line,Lead Service Line Estimated Amount,Emerg. Contam 4,Emerg. Contam. Estimated Amount,Estimated Funding Schedule 6
0,1,SFY 23-47,CT0960301,Aquarion Water Co of CT - Pleasant View,New Milford,Pleasant View Interconnection (PFAS),125,"$5,195,000",No,No,231,No,$0,Yes,"$5,195,000",TBD
1,2,SFY 23-15,CT0320312,Town of Coventry (George Hersey Robertson Sch...,Coventry,CTWC - South Coventry to Nathan Hale System I...,110,"$5,000,000",No,Yes,176,No,$0,Yes,"$5,000,000",SFY 2023
2,3,SFY 23-53,CT0340011,Danbury Water Department,Danbury,Kenosia Well Field PCE Treatment Upgrades,110,"$4,490,000",Yes,No,"65,000",No,$0,No,$0,TBD
3,4,SFY 23-20,CT1020021,SCWA-North Stonington Division,North Stonington,Water Main Extension to Cedar Ridge Division a...,100,"$4,650,000",Yes,Yes,450,No,$0,No,$0,TBD
4,5,SFY 23-70,CT0700204,Killingworth Town Hall,Killingworth,PFAS/Sodium Remediation,95,"$699,000",Yes,Yes,100,No,$0,Yes,"$699,000",SFY 2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,195,SFY 20-41,CT1520071,Waterford WPCA,Waterford,Fargo Road Tank Recoating Project,10,"$1,200,000",No,No,"16,578",No,$0,No,$0,SFY 2023
195,196,SFY 20-20,CT0770021,Manchester Water Department,Manchester,Well #6 Replacement,10,"$300,000",See Footnote 3,No,"15,000",No,$0,No,$0,SFY 2023
196,197,SFY 22-21,CT0770021,Manchester Water Department,Manchester,Griswold Street Area Water Main Replacement,10,"$1,500,000",No,No,520,No,$0,No,$0,SFY 2023
197,198,SFY 23-18,CT0280011,Colchester Sewer and Water Commission,Colchester,Water Tank Recoating,5,"$350,000",No,Yes,"4,020",No,$0,No,$0,SFY 2023
198,,SFY 23-43,none,Town of Brooklyn 5,Brooklyn,Water Main Extension,N/A,"$200,000",,,,,,,,N/A

In [53]:
# manually fix combined columns

ct_attachmentD_output.iloc[85, 3] = "CTWC-Northern Reg-Western System"
ct_attachmentD_output.iloc[85, 4] = "East Windsor"

ct_attachmentD_output.iloc[161, 4] = "North Branford"
ct_attachmentD_output.iloc[161, 5] = "Meter Replacement and Remote Monitoring"

ct_attachmentD_output.iloc[140, 1] = "2015-0034"
ct_attachmentD_output.iloc[140, 2] = "CT0279044"

ct_attachmentD_output.iloc[144, 1] = "SFY 22-55"
ct_attachmentD_output.iloc[144, 2] = "CT1030011"

In [54]:
ct_attachmentD_output.to_csv("../data/CT-iup-attachmentD.csv", index=False)

### CT IUP Attachment F - Updated

In [64]:
ct_attachmentF = camelot.read_pdf("../temp/Base-Supplemental-Project-Priority-List-for-SFY-2023.pdf", 
                           pages='all', flavor='lattice')
print(len(ct_attachmentF))

5

In [65]:
ct_attachmentF_output = pd.concat([ct_attachmentF[0].df,
                                   ct_attachmentF[1].df,
                                   ct_attachmentF[2].df,
                                   ct_attachmentF[3].df,
                                   ct_attachmentF[4].df], ignore_index=True) 

ct_attachmentF_output.columns = ['Rank', 'Project #', 'PWSID', 'Public Water System', 'Town of PWS', 'Project Name',
                                 'Points', 'Amount Requested', 'Project Serves a Disadvantaged Community', 'Small System',
                                 'Population Served by Project', 'Lead Service Line', 'Lead Service Line Estimated Amount',
                                 'Emerg. Contam', 'Emerg. Contam. Estimated Amount']

ct_attachmentF_output = ct_attachmentF_output.replace("\n", " ", regex=True)

ct_attachmentF_output

,Rank,Project #,PWSID,Public Water System,Town of PWS,Project Name,Points,Amount Requested,Project Serves a Disadvantaged Community,Small System,Population Served by Project,Lead Service Line,Lead Service Line Estimated Amount,Emerg. Contam,Emerg. Contam. Estimated Amount
0,1,SFY 23-15,CT0320312,Town of Coventry (George Hersey Robertson Sch...,Coventry,CTWC - South Coventry to Nathan Hale System I...,110,"$5,000,000",No,Yes,176,No,$,Yes,"$ 5,000,000"
1,2,SFY 23-13,CT0720041,SCWA-Tower-Ferry View Division,Ledyard,Replacement Pump Station and Storage Facilities,95,"$1,124,000",Yes,Yes,897,No,$,No,$ -
2,3,SFY 23-70,CT0700204,Killingworth Town Hall,Killingworth,PFAS/Sodium Remediation,95,"$699,000",No,Yes,100,No,$,Yes,"$ 699,000"
3,4,SFY 23-25,CT0930011,Regional Water Authority,New Haven,Raynham Hill Pump Station Improvements,85,"$1,950,000",Yes,No,700,No,$,No,$ -
4,5,SFY 23-16,CT0320312,Town of Coventry (George Hersey Robertson Sch...,Coventry,CTWC - South Coventry to Lakeview Terrace Syst...,85,"$6,400,000",No,Yes,"1,045",No,$,No,$ -
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,103,SFY 20-17,CT0770021,Manchester Water Department,Manchester,Water Main Replacement - Chestnut St. Area,15,"$1,500,000",Yes,No,440,No,$,No,$ -
103,104,SFY 20-41,CT1520071,Waterford WPCA,Waterford,Fargo Road Tank Recoating Project,10,"$1,200,000",No,No,"16,578",No,$,No,$ -
104,105,SFY 20-20,CT0770021,Manchester Water Department,Manchester,Well #6 Replacement,10,,"$300,000 See Footnote 4",No,"15,000",No,$,No,$ -
105,106,SFY 22-21,CT0770021,Manchester Water Department,Manchester,Griswold Street Area Water Main Replacement,10,"$1,500,000",No,No,520,No,$,No,$ -
106,107,SFY 23-18,CT0280011,Colchester Sewer and Water Commission,Colchester,Water Tank Recoating,5,"$350,000",No,Yes,"4,020",No,$,No,$ -

In [66]:
# manually fix combined columns

ct_attachmentF_output.iloc[43, 7] = "$5,000,000"
ct_attachmentF_output.iloc[43, 8] = "See Footnote 4"
ct_attachmentF_output.iloc[43, 9] = "No"

ct_attachmentF_output.iloc[104, 7] = "$300,000"
ct_attachmentF_output.iloc[104, 8] = "See Footnote 4"

ct_attachmentF_output.iloc[75, 1] = "SFY 22-55"
ct_attachmentF_output.iloc[75, 2] = "CT1030011"

In [67]:
ct_attachmentF_output.to_csv("../data/CT-iup-attachmentF.csv", index=False)

In [10]:
deleteTempDriveFolder(path)

Deleted folder and all files within ../temp-docs